<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Random Pick Generator</title>
    <link rel="shortcut icon" href="#">
    <base href="/" />
  </head>
  <body>
    <h1 style="text-align: center;">Random Pick Generator</h1>
    <br />
    <div id="root"></div>
  </body>
</html>